<!DOCTYPE html>
<html>
<head>
	
	<meta charset="UTF-8">
	<title>Angular Integration with servlet Admin</title>
	
	<style type="text/css">
		#getDataBtn{margin-top: 10px;margin-left: 10px;}
		a{text-decoration: none;margin: 10px;}
	</style>
	
</head>
<body>

	<a href="#!report">Report</a>
	<a href="#!admin">Admin</a>
	<a href="#!report1">Report1(Custom Directive)</a><br><br>
	
	<button id="getDataBtn" ng-click="startBtn()">START</button>
	<button id="getDataBtn" ng-click="stopBtn()">STOP</button>
		
</body>
</html>